.centerPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 700px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 30px;
}