@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

header {
  text-align: center;
  background: #4267b2;
}

header h1 {
  color: #fff;
  margin: 0;
  font-size: 26px;
  padding: 5px 0;
}
